/*
 * ----------------------------------------------------
 *  University of Edinburgh eddie config file
 * ----------------------------------------------------
 */

/*executor {
  $local {
    cpus = 1
  }
  $sge {
    queueSize = 5
  }
}*/

process {

  beforeScript = """
  . /etc/profile.d/modules.sh
  sleep 2;
  """

  module = 'anaconda/5.3.1'

  withName: encrypt {
    executor = "sge"
    clusterOptions = "-pe sharedmem 8 -l h_rt=4:00:00 -l h_vmem=2G"
  }
  withName: upload {
    executor = "sge"
    maxForks = 5
    clusterOptions = "-l h_rt=4:00:00 -l h_vmem=2G"
  }
}
